<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img class="is-rounded" src="<%= profile_picture %>" alt="">
            </figure>
        </div>

        <div class="media-content">
            <div class="content">
                <p>
                <strong><%= post.title %></strong> <br/>
                <small><%= user_signed_in? ? post.user.username : '[REDACTED]' %></small><br/>
                <%= post.body %>
                </p>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    <% if owner? post %>
                        <%= link_to edit_post_path(post), class: 'level-item' do %>
                            <span class="icon">
                                <i class="fa <%= display_icon 'fa-pencil' %>" aria-hidden="true"></i>
                            </span>
                        <% end %>

                        <%= link_to post, method: :delete, data: { confirm: 'Wanna delete this post?' }, class: 'level-item' do %>
                            <span class="icon">
                                <i class="fa <%= display_icon 'fa-trash' %>" aria-hidden="true"></i>
                            </span>
                        <% end %>
                    <% end %>
                    <span class="icon">
                        <i class="fa <%= display_icon 'fa-heart'%>" aria-hidden="true"></i>
                    </span>
                </div>
            </nav>
        </div>
    </article>
</div>