<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
    <div class="notification is-primary global-notification has-text-centered has-text-weight-medium">
      <p class="notice"><%= notice %></p>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification has-text-centered has-text-weight-medium">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>

    <!-- nav bar -->
    <nav class="navbar is-dark is-mobile is-marginless">
      <div class="navbar-brand">
          <div class="navbar-item">
              <a class="navbar-item" href="<%= root_path %>">
                  <img src="/padlock.svg" style="width: 2rem; height: 6rem;">
              </a>
              <h1 class="title has-text-white">
                  Members Only
              </h1> 
          </div>
          <div class="navbar-burger" id="burger">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
      <div class="navbar-menu" id="nav-links">
          <div class="navbar-end">
              <div class="buttons has-text-weight-bold navbar-item">
                <% if user_signed_in? %>

                  <%= link_to 'Sign out',destroy_user_session_path,  method: :delete , class: 'button is-warning' %>
                <% else %>
                  <%= link_to 'Login', new_user_session_path, class: 'button is-dark'%>
                  <%= link_to 'Sign up', new_user_registration_path, class: 'button is-warning' %>
                <% end %>
                </div>
          </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer has-background-black pb-1">
      <div class="content has-text-centered has-text-weight-bold has-text-white">
        <p>
          <span class="icon"><i class="fa fa-github fa-3x"></i></span>
        </p>
        <h6 class="is-3 has-text-white">@AliAdamH</h6>
      </div>
  </footer>
    <script>  
        const burger = document.querySelector('#burger');
        const links = document.querySelector('#nav-links');

        burger.addEventListener('click', () => {
            links.classList.toggle('is-active');
            links.classList.toggle('has-background-dark');
        })
    </script>
  </body>
</html>
